- klass = post.persisted? ? "post-form-#{post.id}" : 'new_post_form'
= form_with model: post, id: klass, multipart: true do |f|
	#post-form-errors

	.input-group
		= f.label :category
		= f.collection_select(:category_id, Category.all, :id, :name, prompt: true)

	.input-group
		= f.label :title
		= f.text_field :title

	.input-group
		= f.label :teaser
		= f.text_area :teaser
		
	.input-group
		= f.label :image
		= f.file_field :image
	- if @post.image.attached?
		= image_tag @post.resize_image(:image, 0.25), class: 'form-img' 

	#post-sections 
		= render partial: 'posts/sections_form', locals: { f: f, post: post }

	#credits 
		%strong Assign Credits
		= render partial: 'posts/contributors_form', locals: { f: f, post: post }

		=# link_to 'Add New Credit', new_post_credit_path(post), remote: true, method: :put

	= f.submit :save, class: 'btn-submit'

	- unless f.object.new_record?
		#new_section
		= link_to 'Add New Section', add_post_section_path(post), remote: true, method: :put
