%article
	%section
		%h3= @post.title
		= "Published: #{@post.updated_at.strftime('%b %d, %Y')}"
		|
		= link_to 'Edit Post', edit_post_path(@post)
		
		= @post.images.attached?
		-# @post.images do |image|
			= image_tag image.image
		
		.teaser
			= @post.category.name
			= @post.teaser
		.credits
			%p= "Words: #{@post.author}"
			%p= "Images: #{@post.images_credit}"

	- if @post.sections.any?
		- @post.sections.each do |section|
			%p= section.text