%article
	%section
		%h3= @post.title.html_safe
		= "Published: #{@post.updated_at.strftime('%b %d, %Y')}"
		|
		= link_to 'Edit Post', edit_post_path(@post)
 	
		= image_tag(@post.image) if @post.image.attached?
		
		.teaser
			= link_to "#{@post.category.name}:", category_path(@post.category.id)
			= @post.teaser.html_safe
		-#
			.credits
				%p= "Words: #{@post.author}"
				%p= "Images: #{@post.images_credit}"

	- if @post.sections.any?
		- @post.sections.each do |section|
			%section
				- if section.section_image.attached?
					= image_tag section.resize_image(:section_image) 
				%p= section.body.html_safe