.page-title Contributors

= link_to "Add New Contributor", new_contributor_path

%table
	%tbody
		%tr
			%th Name
			%th Bio
			%th Actions
		- @contributors.each do |contributor|
			%tr
				%td= contributor.name
				%td= contributor.bio
				%td.action-links
					= link_to 'Edit', edit_contributor_path(contributor)
					|
					= link_to 'Delete', contributor_path(contributor), method: :delete, data: { confirm: 'Are you sure you want to delete this Contributor?' }